*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "poppins", sans-serif;
    background-color: rgb(230, 242, 248);
}

nav {
    background-color: rgb(4, 7, 21);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 3px;
}

a{
    color: aliceblue;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    opacity: 0.5;
    
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
    letter-spacing: 2px;
}

